@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Montserrat:wght@300;400;600;700&family=Outfit:wght@400;700&family=Tajawal:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1260px;
    height: fit-content;
    font-family: 'Lexend', sans-serif;
    background-color: #e0e6dd;
}

header{
    width: 100%;
    height: 84px;
    background-color: rgb(29, 29, 145);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}
.logo{
    width: 250px;
    text-align: center;
}
/* .logo img{
    width: 150px;
} */
.navigation{
    height:100%;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navigation a{
    width: 120px;
    height: 30px;
    color: white;
    background-color:#1B23E9;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    transition: 0.5s;
    transition-delay: 0.5s;
    box-shadow: 2px 2px 2px 2px rgb(21, 26, 177);

}
.navigation a:hover{
    transform: scale(1.1);
}
main{
    position: relative;
    top: 84px;
    width:1260px;   
}
.introduction{
    width: 100%;
   height: 485px;
   background-image:url('./tools/Rectangle6.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
    display: flex;
   justify-content: space-around;
}
 .headerr{
    margin-top: 70px;
    width: 500px;
    height: 200px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
 }
 .headerr h1{
    font-size: 3em;
    align-items: center;
    background: linear-gradient( to right, #3058b4,  #f1f1f4, #2196f3,#eaeaec, #ecf0ec);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
 }
 .headerr h1 span{
    border-bottom: 5px solid rgb(33, 71, 154);
 }
.headerr h2{
    width: 400px;
    font-size: 1em;
    color:#fff;
    
}
.sign{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-button{
    width: 300px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.signin-button a{
    width: 100px;
    height: 30px;
    text-decoration: none;
    color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #1B23E9;
    transition: 1s;
    transition-delay: 0.2s;
}
.sign p,.signup h2{
    font-size: 20px;
    color:#fff
}
.sign a:hover{
    transform: scale(1.1);
}

.top{
    position: absolute;
    right: 20px;
    top: 350px; 
}
.about img{
    width: 314px;
    border-radius: 20px;
}
.about-us{
    padding:0px 62px;
}
.about-us h2{
    margin: 60px 0px 40px ;
}
.what-we-do{
    display: flex;
}
.aboutdiv{
   display: flex;
   flex-direction: column;
   gap: 36px;
   
}
.about{
    display: flex;
    gap: 36px;
}
.about h3{
    align-self: center;
    width: 300px;
    opacity: 90%;
}
.find-us-on{
    align-self: flex-end;
    height: 300px;
    margin-left: 62px;
    padding:0px 30px;
    border-bottom-left-radius: 20px;
    border-left: 3px solid rgb(59, 59, 193);
    border-bottom: 3px solid rgb(59, 59, 193);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.store{
    display: flex;
    justify-content: space-evenly;
}
.icons img{
    width: 80px;
}
.icons h4{
    opacity: 57%;
}
.icons{
    text-align: center;
}
.middle{
    position: absolute;
    left: 20px;
    top: 850px;
    z-index: -1;
}

.contact-us{
    padding: 0px 62px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.us{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.contact{
    padding: 0px 25px;
    width: 250px;
    height: 230px;
    font-size: 20px;
    border-radius:20px;
    background-color: rgba(27, 35, 231, 79%);
    display: flex;
    color: #D9D9D9;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    transition-delay: 1s;
}
.contact:hover{
    transform: scale(1.1);
}
.contact img{
    width: 60px;
}
.contact h3{
    font-size: 0.8em;
    text-align: center;
}
.contact button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-weight: bold;
}
.contact button span{
    opacity: 80%;
}
.center{
    position: absolute;
    top: 1100px;
    right: 15px;
    z-index: -1;
}
.right{
   position: absolute;
   top: 1400px;
   left: 20px;
   z-index: -1;
}
.leave-comment{
     display: flex;
     flex-direction: column;
     margin-left: 62px;
     padding-top: 60px;
}
.leave-comment h2{
    margin-bottom: 20px;
}
.email,.comment{
    display: flex;
    flex-direction: column;
}
.flexing{
    display: flex;
}
.comment-section{
    width: 500px;
    border-right: 3px solid #1B23E9;
    padding-right: 100px;
}
.Comment{
    padding-top: 50px;
   padding-left: 100px;
   width: 500px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.comment-profile{
    display: flex;
    gap: 20px;
    align-items: center;
}
.comment-profile img{
      width: 40px;
      border-radius: 50%;
}
.user-comments{
    opacity: 60%;
}
.description p{
    color: rgba(27, 35, 233, 59%);
}
#email,#country,#comment{
    width: 100%;
    margin: 5px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    background:#758fee;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
}
#email::placeholder,#comment::placeholder{
    color: white;
}
#comment{
  height: 100px;
}
footer{
    margin-top: 10px;
    background-color: #2196f3;
    height: 50px;
    width: 1260px;
    position: relative;
    top: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
  
                                      /* signup page */ 

.allsign{
    width: 1260px;
    padding-top: 10px;
    background-image:url('./tools/Rectangle6.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
form{
    align-self: center;
}                                    
.signups{
    margin-top: 20px;
    border-radius: 10px;
    align-self: center;
    background  : rgba(27, 35, 233,0.79);
    width: 350px;
    height: 450px; 
}
.signups .a{
    width: 100px;
    height: 40px;   
    background-color:#3342e5;
    border: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    transition: 0.5s;
    border-radius: 10px;
}
.signups .a:hover{
    transform: scale(1.05);
}
.signup{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.signup h2{
    color: #fff;
    font-size: 25px;
}
.inputs{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

}
.inputs label{
    color: #fff;
}
.inputs input{
    width: 85%;
    height: 35px; 
    background-color: rgb(0, 0, 1);
    outline: none;
    border: none;
    color: #fff;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 10px;  
}
.signups p a{
    font-size: 12px;
    color: #D9D9D9;
}

                              /* reviews page */

.body{
    font-family: 'League Spartan',sans-serif;
    width: auto;
    height: fit-content;
    background:url('./tools/Rectangle6.jpg')  no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header2{
    position: fixed;
    top: 0px;
}
.main{
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}
div:nth-of-type(3){
    grid-column:1/3 ;
}
.introduction2{
    display: flex;
    flex-direction: column;
}
.heading{
    font-family: 'League Spartan',sans-serif;
    font-weight: 700;
    font-size: 15px;
    width: 200px;
    background: linear-gradient( to right, #30a9b4,  #f1f1f4, #8cbae0,#eaeaec, #f0edec);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.descri{
    width: 390px;
    margin-top: 40px;
    color: hsl(240, 67%, 99%);
}
.rating{
    margin-left: 4.375rem;
    display: flex;
    width: 500px;
    flex-direction: column;
}
.one span{
    color: rgba(220, 165, 13, 0.813);
}
.one{
    width: 300px;
    height: 40px;
    background: hsl(300, 12%, 88%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 7px;
    
}
.one:nth-of-type(2){
    align-self: center;
}
.one:nth-of-type(3){
    align-self: end;
}
.reviews{
    height: 300px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}
.person1{
    margin: 15px;
    background: hsl(216, 78%, 23%);
    width: 300px;
    height:190px;
    border-radius: 10px;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    justify-content: center;

}
.name{
    color: #fff;
    font-size: 1em;
    margin-bottom: 3px;
}
.status{
    color: hsl(203, 59%, 58%);
}
.person-info{
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom:20px;
}
.person-info img{
    width: 30px;
    border-radius: 60px;
    margin-right: 10px;
}
.det{
    padding: 0 20px;
    color: hsl(0, 0%, 100%);
    font-size: 14.3px;
    opacity: 90%;
}
.person1:nth-of-type(1){
    margin-left: 0;
}
.person1:nth-of-type(2){
    align-self: center;
}
.person1:nth-of-type(3){
    margin-right: 0;
    align-self: end;
}

           /* mobile qr code  */

.image>img{
    width: 260px;
    border-radius: 10px;
}
.body2{
     font-family:'outfit',sans-serif;
    font-weight: 400;
     min-height: 100vh;
    background:url('./tools/Rectangle6.jpg') no-repeat fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main2{
    width: 290px;
    height: 445px;
    background:  hsla(0, 0%, 100%, 0.829);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1.25rem;
    padding: 16px;
}
.main-heading{
    font-size:1rem ;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    text-align: center;
    color: hsl(217, 39%, 27%);
    
    
}
.content{
    font-size: 0.9375rem;
    margin-top: 12px;
    margin-bottom: 1.25rem;
    text-align: center;
    opacity: 50%;
    color: hsl(0, 0%, 0%);
}
.cont{
    margin-top: 12px;
}
